flask[async]
flask-cors
gunicorn
firebase-admin
pandas
openpyxl
sentry-sdk[flask]
numpy
pytz
PyJWT
scikit-learn

# --- VERSION FIX FOR PROPHET ---
# Pinning prophet and its dependencies to known stable versions
prophet==1.1.1
cmdstanpy==1.1.0
holidays==0.24 # Added to fix TypeError in prophet.hdays
# --- END FIX ---

plotly
scipy
xlsxwriter
sendgrid
python-dotenv