Flask==2.2.2
Werkzeug==2.3.8
blinker==1.7.0
flask-cors==3.0.10
gunicorn==20.1.0
firebase-admin==6.0.1
pandas==1.5.3
openpyxl==3.1.2
sentry-sdk==1.45.0
numpy==1.24.2
pytz==2022.7.1
PyJWT==2.6.0
prophet==1.1.2
