flask[async]
flask-cors
gunicorn
firebase-admin
pandas
openpyxl
sentry-sdk[flask]
numpy
pytz
PyJWT
scikit-learn
prophet==1.1.5  # Pinned version
cmdstanpy==1.2.1 # Pinned version for Prophet's backend
plotly
scipy
xlsxwriter
sendgrid
python-dotenv
